app_venta_coches/Connected Services/ServiceRefCoches/ServiceCoches.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_coches" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_coches" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Coches">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coches" nillable="true" type="tns:Coches" />
  <xs:complexType name="ArrayOfCoches">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Coches" nillable="true" type="tns:Coches" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoches" nillable="true" type="tns:ArrayOfCoches" />
</xs:schema>